.DS_Store
build/
bin/
.idea/
.qmake.stash
CMakeFiles/
cmake_install.cmake
moc_window.cpp
grid.png
Makefile
CMakeCache.txt
CMakeLists.txt.user
sanajahti.app
sanajahti.pro.user
CMakeCache.txt
CMakeLists.txt.user
commands.py
Makefile